.home-view {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://lh3.googleusercontent.com/iu7M_gA3Rp4C3mExF6hONyPqkP59Fc_RHKfoay4l2NqT8uALOUrepRAIRHqHP_C3oy44q8XYgmz_HUZUBhAYIHTN2xSgpMel2L5GS4U9DVAsgTRgBwUmzioZI1AHPI1Mi08Wn9bgqrJsNxITM1wqgEnA7Y1C2I-BbMCprRI6SYiu0FEzpJJptVWkmjygf3Cg4GINxA6N5i5n8nYoB-kEpXkhd1JjiXTrrNAqcH2jI2P4CvgERDiHYYXzdLVlQecDT4ZudHmg9yA8nHngtvYPGcPp6-aCwOd6HzsEvrI7jw3PIo0TO3wwFU5ub5KzNmKonpmR8OM4BvNq_eRhwjqCHitDsVXpn0MadiEKTjGsP0oglcaHvvy_wF3IyIilyrRY9Kku6HsFoLIS7BALi2EDsnvCJsY7cIGNd2JSzZzMS16wfJko0UDpe2cMC4PFZ_BnW8hyQKmJPrkeT09Xgn-HyjIeJ1hMpbdcIx7ZmFmpVoS1eCRze_rAz2lkX9ihR84UJEXmqVZB4gvlFipyupvuKlHTw1dw_dhwZmI_BkqXMrDxJImlCWs3ep5JcvlIIlmBqsZ6mt-JMmJ_xXwKMzMLEFBMgkeGv_mEh2_HU-UONhulpMBQAFXNrDt5H3wwEzzkQxcDqbYAXXGzVm5tMJUwKXWqGSg7FDE=w1070-h699-no");
  background-size: cover;
}

.home-view__social {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (max-height: 600px) and (orientation: landscape) {
    flex-direction: row;
  }
}

.home-view__logo {
  width: 90%;
  max-width: 1000px;
  max-height: 50%;
  @media screen and (max-height: 800px) {
    width: 500px;
    max-width: 90%;
  }
}