$color-primary: #1c99ff;
$color-secondary: #f29c24;
$color-background: #fff;

$color-primary-light: lighten($color-primary, 20%);
$color-secondary-light: lighten($color-secondary, 20%);

$color-text: #4d4d4d;
$color-text-light: #949494;
$color-text-lighter: #c0c0c0;