.blog-list {
  display: flex;
  justify-content: center;
}

.blog-list__container {
  width: 100%;
  max-width: 800px;
  padding: 50px;
  padding-top: 80px;
  @media screen and (max-width: $break-mobile) {
    padding: 20px;
    padding-top: 70px;
  }
}

.blog-list h1 {
  color: $color-text;
  font-weight: 300;
}